/* h1 {
  text-align: center;
}
.posts {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.comments {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.albums {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.photos {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.todos {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.users {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
} */