.pgnt {
  color: blue;
  list-style: none;
  cursor: pointer;
}
.pgnt a {
  padding: 10px;
  border: 1px solid;
}
.pgnt__link--active a {
  color: #fff;
  background: #47a7de;
}
.pgnt__link--disabled a {
  color: lightgray;
  border: 1px solid red;
}